/*variables*/
$fontfamily:'Carter One', cursive;

h1 {
    font-family:'Carter One', cursive; 
}
p,h5 {
    font-family:'Carter One', cursive; 
    text-align: center;
}
.card-text {
    color: black;
    text-transform:unset
}